#include <physical_layouts.dtsi>

/ {
    viginti_physical_layout: viginti_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Viginti";
        status = "okay";
        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys
            = <&key_physical_attrs 100 100   0   0 0 0 0> // A
            , <&key_physical_attrs 100 100 100   0 0 0 0> // R
            , <&key_physical_attrs 100 100 200   0 0 0 0> // S
            , <&key_physical_attrs 100 100 300   0 0 0 0> // T
            , <&key_physical_attrs 100 100 500   0 0 0 0> // N
            , <&key_physical_attrs 100 100 600   0 0 0 0> // E
            , <&key_physical_attrs 100 100 700   0 0 0 0> // I
            , <&key_physical_attrs 100 100 800   0 0 0 0> // O

            , <&key_physical_attrs 100 100   0 100 0 0 0> // Z
            , <&key_physical_attrs 100 100 100 100 0 0 0> // X
            , <&key_physical_attrs 100 100 200 100 0 0 0> // C
            , <&key_physical_attrs 100 100 300 100 0 0 0> // V
            , <&key_physical_attrs 100 100 500 100 0 0 0> // M
            , <&key_physical_attrs 100 100 600 100 0 0 0> // ,
            , <&key_physical_attrs 100 100 700 100 0 0 0> // .
            , <&key_physical_attrs 100 100 800 100 0 0 0> // /

            // Thumb keys (4 keys)
            , <&key_physical_attrs 100 100 250 200 0 0 0>
            , <&key_physical_attrs 100 100 350 200 0 0 0>
            , <&key_physical_attrs 100 100 450 200 0 0 0>
            , <&key_physical_attrs 100 100 550 200 0 0 0>
            ;
    };
};
