/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/pointing.h>

/ {
    chosen {
        zmk,physical-layout = &gggw_crosses_36_layout;
    };
};

/* source keypos definitions */
#include <zmk-helpers/key-labels/36.h>

/* map logical keys to physical position */
/* Crosses: 5x3 + 3 thumbs (36 keys total) */
/* We map the 36 logic keys to the 5 columns and inner 2 thumbs */
/* The extra (outer) thumb is set to trans/default */

#define ZMK_BASE_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH) \
    ZMK_LAYER(name, \
        LT RT \
        LM RM \
        LB RB \
        &kp LGUI LH  RH &kp RALT \
    )

#include "base.dtsi"
