manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: duckyb
      url-base: https://github.com/duckyb
    - name: urob
      url-base: https://github.com/urob
    - name: m165437
      url-base: https://github.com/M165437

  projects:
    - name: zmk
      remote: zmkfirmware
      revision: v0.3
      import: app/west.yml

    - name: urchin-zmk-module
      remote: duckyb
      revision: main

    - name: zmk-helpers
      remote: urob
      revision: v0.3

    # ZMK modules
    - name: zmk-adaptive-key
      remote: urob
      revision: v0.3
    - name: zmk-auto-layer
      remote: urob
      revision: v0.3
    - name: zmk-tri-state
      remote: urob
      revision: v0.3
    - name: zmk-unicode
      remote: urob
      revision: v0.3

    # Custom Nice!View
    - name: nice-view-gem
      remote: m165437
      revision: main

  self:
    path: config
